* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1500px;
    margin: auto;
}

/* top-navbr-section start */

.list {
    gap: 15px;
    border-right: 2px solid #fff;
    padding: 0px 30px;
}

.list:nth-child(4) {
    border: 0;
    padding-right: 0px;
}

.list:nth-child(1) {
    padding-left: 0px;
}

.image {
    padding: 16px 0px;
}

/* top-navbr-section end */

/* navbar-menu section start */

.navigation-bar-section {
    border-bottom: 1px solid #000;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 20px;
    border-right: 2px solid;
    color: #000;
}

.navbar-expand-lg .navbar-nav .nav-item:nth-of-type(8) .nav-link {
    border-right: 0;
    padding-right: 40px;
}


.navbar-expand-lg .navbar-nav .nav-item:nth-of-type(1) .nav-link {
    padding-left: 0px;
}

.navbar {
    padding: 36px 0px;
}

.btn {
    border: none;
}

.search-input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    position: absolute;
    bottom: -45px;
    right: 10px;
    width: 200px;
    display: none;
}

.check:checked+.search-input {
    display: block;
}

/* navbar-menu section end */

/* banner section start */

.banner-section {
    background-image: url("/assets/image/Rectangle\ 7.png");
    background-image: linear-gradient(to bottom, #FFBF431A, #E01E2E0D);
}

.banner {
    max-width: 1100px;
    margin: auto;
    padding-top: 110px;
    width: 100%;
}

.banner .main-heading {
    font-size: 68.8px;
    font-weight: 700;
    font-family: "inter";
}

span {
    display: flex;
    justify-content: end;
}


.banner .banner-btn {
    background-color: #E01E2E;
    border-radius: 50px;
    padding: 16px 32px;
    color: #fff;
    font-size: 19.2px;
    font-weight: 400;
    top: 10px;
    right: 143px;

}

.banner .describe {
    font-size: 19.2px;
    font-weight: 500;
    max-width: 550px;
    line-height: 32px;
    margin-top: -65px;
}

.banner-image {
    padding-top: 94px;
    padding-bottom: 40px;
}

.main-banner .link {
    background-color: #E01E2E;
    color: #fff;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    height: 90px;
    width: 90px;
    right: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* banner section end */

/* service section start */

.service-text .main-heading {
    font-size: 47.8px;
    font-weight: 700;
}

.service-text {
    gap: 200px;
    padding: 100px 0px 64px 0px;
}

.page-row {
    row-gap: 20px;
}

.pages {
    background-color: #F2F2F2;
    padding: 30px;
    height: 100%;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.service-page-text {
    margin-bottom: 242px;
    padding-top: 16px;
}

.arrow {
    height: 194px;
    width: 194px;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    bottom: -30px;
    right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.arrow:hover {
    background-color: #E01E2E;
}

/* service section end */

/* feedback section start */


.feedback-section {
    margin: 120px 0px;
    padding: 120px 0px;
    background-color: #FFBF431A;
    font-family: "inter";

}

.feedback .main-heading {
    padding-bottom: 48px;
    font-weight: 700;
    font-size: 47.7px;
    text-align: center;
}

.feedback-page {
    background-color: #FFFFFF;
    padding: 48px 30px;
    height: 100%;
    border-radius: 25px;
    text-align: center;
}

.feedback-page .star {
    padding-bottom: 24px;
}

.feedback-img {
    gap: 24px;
    padding-top: 32px;
}

.feedback-img h4 {
    font-size: 18px;
    line-height: 163%;
}


/* feedback section end */

/* discount section start */

.discount-section{
    background-color: #000;
}

.dic {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.images-clip img{
    clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);

}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 550px;
    margin: 0 auto;

}

.link {
    text-decoration: none;
    color: #fff;
    background-color: #E01E2E;
    padding: 16px 40px;
    border-radius: 25px;
    margin-top: 10px;
}


/* box section start */

.box-1 {
    margin-top: 48px;
    margin-bottom: 120px;
}

.box-1 .box-text {
    background-color: #F2F2F2;
    padding: 32px 30px;
    border-radius: 25px;
    height: 100%;
}

.offer {
    max-width: 520px;
    margin: auto;
}

.offer .main-heading {
    font-size: 47.78px;
    padding-bottom: 16px;
    font-weight: 700;
}

.box-text h5 {
    background-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 16px;
}

.box-text h4 {
    font-size: 19.2px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.384px;
    max-width: 200px;
    padding-bottom: 8px;
}

/* box-section end */

/* layout section start */

.layout-section {
    padding-top: 120px;
    background-color: #FFBF431A;
    padding-bottom: 127px;
    margin-bottom: 120px;
}


.img-layout-1 img {
    border-radius: 25px;
}

.img-layout-1 {
    gap: 28px;
    display: flex;
    flex-direction: column;
}

.img-layout-1 .text {
    padding-top: 50px;
}

.img-layout-1 .img-2 {
    padding-top: 30px;
}

.multi-images-1 {
    gap: 20px;
}

.multi-images {
    gap: 20px;
}

.main-section {
    gap: 30px;
}

.img-layout-2 {
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.img-layout-2 .text h2 {
    font-size: 48.78px;
    font-weight: 700;
    padding-bottom: 16px;
}

.img-layout-2 img {
    padding-top: 89px;
}

.img-layout-2 .text {
    max-width: 500px;
}

.cases {
    background-color: #E01E2E;
    color: #fff;
    text-align: center;
    padding: 16px 32px;
    border-radius: 25px;

}

.layout-link {
    text-align: center;
    margin-top: 50px;

}

/* layout section end */

/* mask-section start */

.mask-section {
    padding-bottom: 120px;
}

.mask-section h2 {
    font-size: 48.78px;
    font-weight: 700;
    padding-bottom: 16px;
}

.mask-section p {
    padding-bottom: 50px;
}

/*mask section end */